constitution {
    display: block;
    width: 1024px;
}
title {
    display: block;
    padding-bottom: 12px;
}
title line {
    display: block;
    text-align: center;
}

history {
    display: block;
    padding-bottom: 12px;
}

history entry {
    display: block;
    text-align: center;
}


preamble {
    display: block;
    padding-bottom: 12px;
}
preamble name {
    display: block;
    padding-bottom: 6px;
    font-weight: bold;
    text-align: center;
}

articles {
    display: block; 
}

article {
    display: block;
    padding-bottom: 12px;
}

article name {
    display: block;
    padding-bottom: 6px;
    font-weight: bold;
    text-align: center;
}

sections {
    display: block;
}

section {
    display: block;
    padding-bottom: 6px;
}

section name {
    display: block;
    padding-bottom: 6px;
    font-weight: bold;
}

section block {
    display: block;
    padding-bottom: 6px;
}

statement {
    display: inline;
}

ul {
}

ul li {
    display: list-item;
list-style: disc outside none;
margin-left: 2em;
}

flag {
    font-weight: bold;
    color: red;
}

em {
    font-style: italic;
}